// File used for merchant settings.
// This file is loaded in the configurator, so a merchant can change settings.

// General settings
$base-spacing-unit: 10px;
$base-fs: 16px;

// color
$color-primary: #f0553a;
$color-secondary: #3a414c;

$color-black: #191919;
$color-gray-darkest: #292929;
$color-gray-darker: #585858;
$color-gray-dark: #888888;
$color-gray-medium: #aaaaaa;
$color-gray-light: #d7d7d7;
$color-gray-lighter: #ebebeb;
$color-gray-lightest: #f1f1f1;
$color-white: #ffffff;

$color-black-lighter: #1a171b;

$color-blue-light: #1babeb;

//Fonts
$font-family-default: 'Noto Sans', sans-serif;
$font-color-default: $color-gray-darkest;

// Layout settings
$container-editor-padding: 30px 0 0 0;

$content-panel-tabs-width: 70px;
$content-panel-width: 350px;
$content-panel-padding: 0 15px;

$content-panel-title-margin: $base-spacing-unit 0;

$content-panel-tabs-max-quantity: 3;
$content-panel-tabs-height: 45px;
$content-panel-tabs-margin-bottom: 4 * $base-spacing-unit;
$content-panel-tabs-bg-color: $color-white;
$content-panel-tabs-indicator-width: 5px;
$content-panel-tabs-font: 14px $font-family-default;
$tab-item-icon-dimension: 30px;
$content-panel-bg-color: $color-white;
$content-panel-border-left: 1px solid $color-secondary;
$content-panel-border-right: 1px solid $color-gray-light;
$button-bar-bg-color: $color-white;
$button-bar-padding: $base-spacing-unit;
$button-upload-padding: 0 15px 15px;

$h1-margin: 30px 0 10px;

// Buttons

$btn-padding: 6px 12px;
$btn-font-size: 14px;
$btn-font-weight: 400;
$btn-text-align: center;
$btn-vertical-align: middle;
$btn-cursor-pointer: pointer;
$btn-border-radius: 3px;
$btn-bg-color: white;
$btn-border: 2px solid $color-primary;
$btn-color: $color-primary;

// button hover
$btn-bg-color--hover: $color-primary;
$btn-color--hover: white;

// button primary
$btn-primary-bg-color: $color-secondary;
$btn-primary-color: $color-white;
$btn-primary-border-color: $btn-primary-bg-color;

$btn-bg-color--disabled: $color-primary;
$btn-color--disabled: white;
$btn-border-color--disabled: gray;

// Workarea
// Action bar
$workarea-action-bar-padding: 0 $base-spacing-unit;
$workarea-action-bar-bg-color: rgba(255, 255, 255, 0.85);
$workarea-action-bar-border: 1px solid $color-gray-light;

// Action bar: button groups
$action-btn-margin: 0 3 * $base-spacing-unit;
$action-btn-padding: $base-spacing-unit;
$action-btn-hover-bg-color: $color-primary;
$action-btn-hover-color: $color-white;
$action-btn-icon-font-size: 1.5em;
$action-btn-icon-width: 24px;
$action-btn-icon-height: $action-btn-icon-width;
$action-btn-description-font-size: 0.8em;

// Footer bar
$workarea-footer-bar-padding: $base-spacing-unit;
$workarea-footer-bar-bg-color: $color-white;
$workarea-footer-bar-text-align: right;
$workarea-footer-bar-border-top: 1px solid $color-gray-light;

// Workarea canvas
$workarea-canvases-bg-color: $color-gray-lightest;

// Snap guidelines
$snap-guideline-bg-color: #00ff78;
$snap-guideline-opacity: 1;

//canvas
$bleed-bg-color: transparent;
$bleed-opacity: 1;
$bleed-border: 0 none;

$safety-bg-color: transparent;
$safety-opacity: 1;
$safety-border: 1px dashed $color-gray-darkest;

$multi-select-border: 1px solid #00ff78;
$multi-select-color: #00ff78;
$multi-select-opacity: 0.25;

$canvas-drop-target-border: 2px solid #00aaee;
$canvas-drop-target-bg-color: transparent;
$canvas-drop-target-shadow: 0 0 8px 0 rgba(0,170,238,0.50);
$canvas-drop-enabled-border: 1px solid #00aaee;
$canvas-drop-enabled-bg-color: rgba($color-white, 0.5);

$canvas-color-picker-width: 25px;
$canvas-color-picker-height: 17px;
$canvas-color-picker-border: 1px solid $color-gray-light;

// Decoration
$decoration-border-width: 1px;
$decoration-border-style: solid;
$decoration-border-color: $color-blue-light;
$decoration-border-width-selected: 2px;
$decoration-border: $decoration-border-width $decoration-border-style $decoration-border-color;
$decoration-border-selected: $decoration-border-width-selected $decoration-border-style $decoration-border-color;

// Drag/resize handles
$rotate-handle-height: 15px;
$rotatable-handle-dimension: 20px;
$rotatable-handle-icon-dimension: 19px;
$rotatable-handle-bg-color: $color-blue-light;
$rotatable-handle-hover-bg-color: $color-blue-light;
$rotatable-handle-hover-color: $color-white;
$rotatable-handle-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);

$handle-size: 16px;
$handle-offset: negative(halve($handle-size));
$handle-bg-color: $color-blue-light;
$handle-border: 2px solid $color-white;
$handle-offset: negative(halve($handle-size) + $decoration-border-width);
$handle-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);

// Contextual toolbar
$contextual-toolbar-padding: quarter($base-spacing-unit);
$contextual-toolbar-bg-color: $color-gray-light;
$contextual-toolbar-shadow: none;
$contextual-toolbar-primary-row-height: 40px;
$contextual-toolbar-font: 13px;

$toolbar-button-hover-bg-color: $color-gray-lighter;
$toolbar-button-hover-color: $color-gray-darkest;
$toolbar-button-active-bg-color: $color-gray-lightest;
$toolbar-button-active-color: $color-gray-darkest;
$toolbar-button-disabled-bg-color: $color-gray-lighter;
$toolbar-button-disabled-color: $color-gray-medium;

// Select
$select-padding-right: 30px;
$select-padding-left: 9px;

// Image thumbnails
$thumb-action-link-color: $color-white;
$upload-list-gap: 10px;
$thumb-min-height: 100px;
$thumb-bg-color: $color-gray-lightest;
$thumb-bg-image: linear-gradient(45deg, #DDDDDD 25%, transparent 25%, transparent 75%, #DDDDDD 75%, #DDDDDD), linear-gradient(45deg, #DDDDDD 25%, transparent 25%, transparent 75%, #DDDDDD 75%, #DDDDDD);
$thumb-overlay-bg-color: rgba(0, 0, 0, 0.5);
$thumb-overlay-border: 2px solid $color-primary;
$thumb-action-link-font-size-large: 32px;
$thumb-action-link-font-size-normal: 24px;
$thumb-action-link-scale-factor: $thumb-action-link-font-size-normal / $thumb-action-link-font-size-large;

$thumb-progress-text-color: $color-white;
$thumb-progress-text-font-size: 12px;
$thumb-progress-text-margin: 10px auto 0;

$circular-loader-bg-color: $color-white;
$circular-loader-loading-bg-color: #80ce00;

// Text
$edit-text-item-margin: 2*$base-spacing-unit;
$edit-text-input-padding: 5px;
$edit-text-input-border: 3px solid $color-gray-light;
$edit-text-input-border-hover: $color-secondary;
$edit-text-input-border-active: $color-secondary;
$edit-text-input-background-active: $color-gray-lightest;
$edit-text-input-font-size: 14px;
$edit-text-button-margin: 10px;
$edit-text-item-min-height: 62px;
$edit-text-item-input-color: $font-color-default;
$edit-text-delete-icon-dimensions: 24px;
$edit-text-delete-icon-color: $color-secondary;
$edit-text-delete-icon-color-hover: lighten($color-secondary, 20%);

// Shapes
$shapes-icons-dimensions: 90px;
$shapes-icons-stroke-width: 1px;
$shapes-icons-stroke-color: $color-black-lighter;
$shapes-icons-stroke-color-hover: $color-gray-darkest;
$shapes-icons-margin: 10px;
$shapes-icons-fill: lighten($color-secondary, 20%);
$shapes-icons-fill-hover: lighten($shapes-icons-fill, 20%);

// Drag and drop area
$drag-and-drop-area-padding: 20px 0;
$drag-and-drop-area-font-size: 14px;
$drag-and-drop-area-color: $color-gray-darkest;

// Validations
$validation-error-background: rgb(235, 204, 209);
$validation-error-icon: rgb(217, 59, 66);
$validation-error-text: #97292e;
$validation-warning-background: rgb(250, 235, 204);
$validation-warning-icon: rgb(242, 184, 53);
$validation-warning-text: #a98025;
$validation-information-background: rgb(187, 214, 253);
$validation-information-icon: rgb(58, 136, 249);
$validation-information-text: #0859d1;
$validation-icon-second-color: #ffffff;

$validation-opacity: 0.9;
$validation-border: 1px solid #ffffff;
$validation-default-background: #ffffff;
$validation-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);

$contextual-validation-width: 250px;
$contextual-validation-icon-width: 16px;

$general-validation-width: 600px;
$general-validation-max-width: 75%;
$general-validation-icon-width: 24px;
