.dcl-action-btn-group {
    display: inline-table;
    margin: $action-btn-margin;
}

.dcl-action-btn,
.dcl-action-btn__description {
    user-select: none;
}

.dcl-action-btn,
.dcl-action-btn__description,
.dcl-btn-group__icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dcl-action-btn {
    padding: $action-btn-padding;
    cursor: pointer;

    &:hover {
        background-color: $action-btn-hover-bg-color;
        color: $action-btn-hover-color;
    }
}

.dcl-action-btn__icon {
    font-size: $action-btn-icon-font-size;

    svg {
        width: $action-btn-icon-width;
        height: $action-btn-icon-height;
    }
}

.dcl-action-btn__icon--disabled {
    opacity: 0.2;
    cursor: inherit;

    &:hover {
        background-color: inherit;
        color: inherit;
    }
}

.dcl-action-btn__description {
    font-size: $action-btn-description-font-size;
}
