// Button
//
// .dcl-btn - default state
// .dcl-btn.active - test
// .dcl-btn.disabled - test
//
// markup:
// <button class="{$modifiers}">Button</button>
//
// Styleguide 3.1

.dcl-button {
    border: $btn-border;
    border-radius: $btn-border-radius;
    padding: $btn-padding;
    background-color: $btn-bg-color;
    vertical-align: $btn-vertical-align;
    text-align: $btn-text-align;
    color: $btn-color;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    cursor: $btn-cursor-pointer;

    &:hover {
        border-color: $btn-bg-color--hover;
        background-color: $btn-bg-color--hover;
        color: $btn-color--hover;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        border-color: $btn-border-color--disabled;
        background-color: $btn-bg-color--disabled;
        color: $btn-color--disabled;
    }
}

.dcl-button--primary {
    border-color: $btn-primary-border-color;
    background-color: $btn-primary-bg-color;
    color: $btn-primary-color;
}

.dcl-button--full-width {
    width: 100%;
}

.dcl-button--has-icon svg {
    margin: -3px $base-spacing-unit 0 0;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}
