$canvas-bg-color: $color-white;
$canvas-zindex-stack: (
    base: 1,
    drop-target: 2,
    editing: 3,
    selected: 1000,
    handles: 1001
);

.dcl-canvas,
.dcl-canvas * {
    box-sizing: content-box;
}

.dcl-canvas {
    position: relative;
    margin: 20px auto;
    &:first-of-type {
        margin-top: auto;
    }
    &:last-of-type {
        margin-bottom: auto;
    }
    border: 1px solid #d8d9db;
    background-color: $canvas-bg-color;
    user-select: none;
}

.dcl-canvas--hidden {
    display: none;
}

.dcl-canvas-editing-enabled {
    z-index: 97;
}

.dcl-canvas__safety-margin {
    position: absolute;
    opacity: $safety-opacity;
    background: $safety-bg-color;
}

.dcl-canvas__safety-margin--inner {
    border: $safety-border;
}

.dcl-canvas__bleed-margin {
    position: absolute;
    opacity: $bleed-opacity;
    background-color: $bleed-bg-color;
}

.dcl-canvas__bleed-margin--inner {
    border: $bleed-border;
}

.dcl-canvas__element-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($canvas-zindex-stack, base);
}

.dcl-canvas__element-wrapper--editing {
    z-index: map-get($canvas-zindex-stack, editing);
}

.dcl-canvas__select-box {
    box-sizing: border-box;
    position: absolute;
    border: $multi-select-border;
    background-color: rgba(red($multi-select-color), green($multi-select-color), blue($multi-select-color), $multi-select-opacity);
}

.dcl-canvas-divider {
    width: 40px;
    height: 40px;
}

.tools-overlay {
    position: relative;
    z-index: 2;
}

.dcl-canvas-tools__color-picker {
    box-sizing: border-box;
    position: relative;
    left: -$canvas-color-picker-width;
    border: $canvas-color-picker-border;
    padding: 0;
    width: $canvas-color-picker-width;
    height: $canvas-color-picker-height;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    .dcl-hover-button {
        position: absolute;
        top: 3px;
        left: 27px;
        padding: 0px;
        width: 15px;
        min-width: 15px;
        height: 15px;
        min-height: 15px;
        background-color: transparent;
    }
    .dcl-color-picker__choices {
        padding-left: 8px;
    }
}

.dcl-canvas-tools__canvas-name {
    float: left;
    padding-right: 5px;
    height: 15px;
    color: #333333;
    font-size: 0.8em;
}

// Warning when objects enters bleed
.dcl-highlight-warning {
    position: absolute;
    opacity: 0.5;
    background: red;
}

.dcl-target,
.dcl-decoration,
.dcl-item,
.dcl-scene-image,
.dcl-design-area-scene-image,
.dcl-canvas-border,
.dcl-canvas-dimensions,
.dcl-canvas-ruler,
.dcl-design-area-scene-image,
.dcl-canvas-tools {
    position: absolute;
}

.dcl-canvas-tools {
    width: 100%;
    height: 100%;
}

.dcl-canvas-border {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
}

.dcl-items {
    overflow: hidden;
}

.dcl-handles {
    pointer-events: none;
}

.dcl-handle {
    position: absolute;
    cursor: pointer;

    .dcl-ui-resizable-handle,
    .dcl-rotatable-handle {
        pointer-events: auto;
    }
}

.dcl-target__text-target {
    display: block;
    position: absolute;
    background: transparent;
    pointer-events: auto;

    &:hover {
        cursor: pointer;
    }
}

.dcl-target {
    display: none;
    pointer-events: auto;

    &:hover {
        cursor: pointer;
    }
}

.dcl-target--text {
    pointer-events: none;

    &:hover {
        cursor: none;
    }
}

.dcl-targets {
    //Needed for IE 10 support for targets selection
    background-image: url('../../content/images/clearpixel.gif');
}

// decoration
.dcl-decoration {
    margin: negative($decoration-border-width) 0 0 negative($decoration-border-width);
    border: $decoration-border-width $decoration-border-style transparent;

    &.dcl-over {
        border: $decoration-border;
    }
    &.dcl-selected {
        border: $decoration-border-selected
    }

    &.dcl-outline-warning {
        &.dcl-selected,
        &.dcl-open-validation-message {
            border: $decoration-border-width-selected solid orange;
        }
    }

    &.dcl-outline-error {
        &.dcl-selected,
        &.dcl-open-validation-message {
            border: $decoration-border-width-selected solid red;
        }
    }
}

// scss-lint:disable DuplicateProperty PropertyCount
.dcl-rotatable-handle {
    display: none;
    position: absolute;
    top: $rotatable-handle-dimension;
    left: calc(50% - #{halve($rotatable-handle-dimension)});
    border: $handle-border;
    border-radius: 50%;
    width: $rotatable-handle-dimension;
    height: $rotatable-handle-dimension;
    background-color: $rotatable-handle-bg-color;
    box-shadow: $rotatable-handle-shadow;
    text-align: center;
    cursor: pointer;
    transition: transform 100ms ease-in;

    &:hover {
        transform: scale(1.1);
        background-color: $rotatable-handle-hover-bg-color;
        color: $rotatable-handle-hover-color;
    }

    .dcl-rotatable-handle__line {
        position: absolute;
        top: negative($rotate-handle-height);
        left: halve($rotatable-handle-dimension);
        border-left: $decoration-border;
        width: $decoration-border-width;
        height: $rotate-handle-height;
    }

    .dcl-rotatable-handle__icon {
        position: relative;
        width: $rotatable-handle-icon-dimension;
        height: $rotatable-handle-icon-dimension;
        font-size: $base-fs;
    }
}
// scss-lint:enable DuplicateProperty PropertyCount

.dcl-selected {
    .dcl-ui-resizable-handle,
    .dcl-rotatable-handle {
        display: block;
    }

    &.dcl-ui-resizable-resizing .dcl-rotatable-handle,
    &.dcl-multiselected .dcl-ui-resizable-handle {
        display: none;
    }
}

.dcl-canvas--drop-enabled::after {
    content: attr(droptarget-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($canvas-zindex-stack, drop-target);
    border: $canvas-drop-enabled-border;
    padding-top: 25%;
    background-color: $canvas-drop-enabled-bg-color;
    text-align: center;
    line-height: 100%;
}

.dcl-canvas--drop-target {
    z-index: 0;

    &::after {
        content: '';
        border: $canvas-drop-target-border;
        background-color: $canvas-drop-target-bg-color;
        box-shadow: $canvas-drop-target-shadow;
    }
}

.dcl-ui-selectable {
    display: block;
}

// This will probably be moved out of here to its own thing, maybe?
.dcl-image-processing {
    opacity: 0.25;
}

.dcl-canvas--targets-disabled {
    /* The target elements themselves need to be targeted, otherwise
     * .dcl-targets won't work as a drop zone if it's invisible
     */
    .dcl-target {
        display: none;
    }
}