.circular-loader {
    position: relative;
    margin: 0 auto;
    width: 30%;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }
}

.circular-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: center center;
    margin: auto;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.circular-svg__path-background {
    stroke: $circular-loader-bg-color;
}

.circular-svg__path-loading {
    stroke: $circular-loader-loading-bg-color;
    stroke-dasharray: 125.66;
}

// Circular loader for the buttons

@keyframes button-loader {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.dcl-button__spin-loader {
    display: none;
    position: relative;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.dcl-button__spin-loader--active {
    display: inline-block;
}

.dcl-button__spin-loader__svg__dot {
    transform: scale(0.5);
    opacity: 0.5;
    fill: $color-primary;
    animation: button-loader 1s infinite;
}

.dcl-button {
    &:hover,
    &:focus,
    &[disabled] {
        .dcl-button__spin-loader__svg__dot {
            fill: $btn-color--hover;
        }
    }
}

.dcl-button__spin-loader__svg {
    g {
        &:nth-child(1) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: 0s;
            }
        }

        &:nth-child(2) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (1/8)*1s;
            }
        }

        &:nth-child(3) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (2/8)*1s;
            }
        }

        &:nth-child(4) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (3/8)*1s;
            }
        }

        &:nth-child(5) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (4/8)*1s;
            }
        }

        &:nth-child(6) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (5/8)*1s;
            }
        }

        &:nth-child(7) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (6/8)*1s;
            }
        }

        &:nth-child(8) {
            .dcl-button__spin-loader__svg__dot {
                animation-delay: (7/8)*1s;
            }
        }
    }
}
