.dcl-color-picker-shader-handle {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid $color-gray-darker;
    border-bottom-width: 2px;
    border-radius: 5px;
    width: 40px;
    height: 5px;
    cursor: grab;
}

.dcl-color-picker-wheel-container {
    display: inline-block;
    position: relative;
}

.dcl-color-picker-wheel-handle {
    position: absolute;
    margin-top: -13px;
    margin-left: -13px;
    border: 2px solid white;
    border-radius: 20px;
    width: 27px;
    height: 27px;
    cursor: -webkit-grab;
    cursor: grab;
}

.dcl-color-picker-shader-container {
    display: inline-block;
    position: relative;
    margin-left: 10px;

    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.dcl-color-picker-rgb-preview-apply-container {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    vertical-align: top;
}

.dcl-color-picker-preview {
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 150px;
    height: 40px;
}

.dcl-color-picker-apply-button-container {
    margin-top: 20px;
}

.dcl-color-picker-apply-button {
    display: inline-block;
    margin-top: -30px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 24px;
    height: 39px;
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color: #007dc1;
    box-shadow: inset 0 1px 0 0 #54a3f7;
    vertical-align: middle;
    text-decoration: none;
    text-shadow: 0 1px 0 #154682;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    cursor: pointer;
}

.dcl-color-picker-apply-button:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a7;
}

.dcl-color-picker-apply-button:active {
    position: relative;
    top: 1px;
}

.dcl-color-picker-rgb {
    box-sizing: border-box;
    margin-right: 5px;
    border: 2px solid #cccccc;
    padding: 5px;
    width: 45px;
    height: 30px;
    background-color: #ffffff;
    text-align: left;
    font-size: 16px;
}

.dcl-color-picker__options {
    display: inline-block;
    float: left;
    width: 100%;
    background-color: $color-gray-lighter;
    list-style: none;
}

.dcl-color-picker__option {
    content: 'a';
    display: inline-block;
    float: left;
    width: 50px;
    height: 40px;
    text-align: center;

    &.selected {
        background-color: $color-gray-light;
    }
}

.dcl-color-picker__option__icon {
    margin-top: 8px;
    width: 24px;
    height: 24px;
}

.dcl-color-picker__container {
    width: 250px;
}

.dcl-color-picker__title {
    padding: 0 15px;
    text-align: left;
    color: #585858;
}

.dcl-color-choice-button {
    border: 1px solid transparent;
    width: 35px;
    height: 25px;
    cursor: pointer;
    &:hover {
        border: 1px solid $color-gray-darkest;
    }
}

.dcl-color-choice {
    display: inline-block;
    margin: 3px;
    &.selected {
        border: 1px solid black;
        padding: 3px;
        .dcl-color-choice-button {
            width: 27px;
            height: 17px;
        }
    }
}

.dcl-color-choice-button--remove-color {
    border: 1px solid black;
    background-image: url('../../content/images/no-color.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.dcl-color-picker-custom-labels {
    box-sizing: border-box;
    font-size: 15px;
}

.dcl-color-picker__choices {
    padding-left: 12px;
    text-align: left;
    cursor: pointer;
}

.dcl-color-picker__title {
    margin-top: 55px;
    margin-bottom: 10px;
    text-align: left;
}

.dcl-color-picker__custom {
    text-align: center;
    cursor: pointer;
}

.dcl-color-picker-rgb-container {
    box-sizing: border-box;
}

