.dcl-contextual-toolbar {
    display: inline-block;
    position: absolute;
    z-index: 99; //Toolbar should always be above everything else, except modals
    background-color: $contextual-toolbar-bg-color;
    box-shadow: $contextual-toolbar-shadow;
    vertical-align: middle;
    color: $color-gray-darker;

    user-select: none;
}

.dcl-contextual-toolbar-primary-row {
    height: $contextual-toolbar-primary-row-height;
}

.dcl-toolbar-button {
    border: none;
    height: 100%;
    background-color: transparent;
    transition: color 300ms;

    &:hover:not(.dcl-toolbar-button--disabled) {
        background-color: $toolbar-button-hover-bg-color;
        color: $toolbar-button-hover-color;
    }

    &:focus {
        outline: none;
    }

    &.active {
        background-color: $toolbar-button-active-bg-color;
        color: $toolbar-button-active-color;
    }
}

.dcl-toolbar-button--disabled {
    color: $toolbar-button-disabled-color;

    //&:hover {
    //    background-color: $toolbar-button-disabled-bg-color;
    //    color: $toolbar-button-disabled-color;
    //}
}

.dcl-toolbar-item {
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.dcl-edit-text,
.dcl-edit-text__field {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

.dcl-contextual-toolbar-resize-bar {
    display: none;
}

.select2-container--default {
    .select2-selection--single {
        border: none;
        border-radius: 0;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        .select2-selection__rendered {
            line-height: $contextual-toolbar-primary-row-height;
            font-size: $contextual-toolbar-font;
        }

        .select2-selection__arrow {
            height: $contextual-toolbar-primary-row-height - 2;
            b {
                border-color: $color-gray-darker transparent transparent transparent;
            }
        }
    }

    .select2-results__option--highlighted[aria-selected],
    .select2-results__option[aria-selected=true] {
        background-color: $color-gray-lightest;
        color: $color-gray-darkest;
    }
}

.select2-container {
    .select2-selection--single {
        height: $contextual-toolbar-primary-row-height;

        .select2-selection__rendered {
            padding-right: $select-padding-right;
            padding-left: $select-padding-left;
            color: $color-gray-darker;
        }
    }
}

.select2-container--open {
    .select2-dropdown--below {
        border: none;
        border-radius: none;
    }
}

.select2-results__options {
    background-color: $color-gray-light;
}

.select2-results__option {
    color: $color-gray-darker;
    font-size: $contextual-toolbar-font;
}

.dcl-toolbar-button__icon, .dcl-hover-button__icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.dcl-hover-button__caret {
    width: 12px;
    height: 11px;
    vertical-align: middle;
}

.dcl-hover-button__text {
    font-size: $contextual-toolbar-font;
}

.dcl-toolbar-button, .dcl-hover-button {
    border: none;
    min-width: 40px;
    height: 40px;
    background-color: $color-gray-light;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    color: $color-gray-darker;
    &.disabled {
        opacity: 0.5;
    }

    &:hover:not(.disabled) {
        color: $color-gray-darkest;
    }

    &:focus {
        outline: none;
    }

    &.active {
        background-color: $color-gray-lightest;
        color: $color-gray-darkest;
    }
}

.dcl-spin {
    animation: dcl-spin 2s infinite linear;
}

@keyframes dcl-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dcl-tool {
    display: inline-block;
    position: relative;
    border: none;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: color 300ms;
}

.dcl-hover-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $color-gray-light;
}

.dcl-button--hover {
    .dcl-hover-box {
        display: block;
    }
}

.dcl-hover-box--menu {
    .dcl-toolbar-button {
        width: auto;
    }
}

.dcl-toolbar-button__icon {
    display: inline-block;
}

.dcl-toolbar-button__text {
    display: inline-block;
    top: -10px;
}

.dcl-button--menu {
    width: 100%;
    .dcl-toolbar-button {
        width: 100%;
        font-size: $contextual-toolbar-font;
    }
}
