.dcl-modal__embroidery-colors {
    position: absolute;
    width: 100%;
}

.dcl-modal__embroidery-colors-box {
    float: left;
    border: solid 1px #000000;
    border-radius: 15%;
    width: 30px;
    height: 30px;
}
.dcl-hover-box--color-picker-visible {
    display: block;
}

.dcl-modal__embroidery-menu-button {
    float: left;
    outline: none;
    border: 1px solid #000000;
    border-radius: 15%;
    width: 72px;
    height: 42px;
    background-color: #F3F4F5;
    $btn-cursor-pointer: pointer;
}

.dcl-modal__embroidery-menu-button-container {
    float: left;
    margin: 0 8px 8px 0;
    padding: 5px;
    width: 72px;
    height: 42px;

    .dcl-color-picker__title {
        display: none;
    }


    .dcl-color-picker__choices--provided {
        position: relative;
        border-radius: 3%;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 250px;
        background: #E0E0E0;
    }

    .dcl-hover-box--color-picker {
        position: relative;
        top: 13px;
        clear: both;
        border: none;
        width: 100%;
        background: transparent;
    }
}

.dcl-modal__embroidery-preview-pane {
    display: block;
    float: left;
    width: 50%;
}

.dcl-modal__embroidery-preview-image {
    display: block;
    border: 1px solid #000000;
    border-radius: 2px;
}

.dcl-button--reset-colors {
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: hand;
}

.dcl-modal__embroidery-controls {
    display: block;
    float: left;
    margin-left: 5%;
    width: 45%;
}

.dcl-modal__body--embroidery {
    display: block;
}

.dcl-modal__embroidery-color-description {
    padding-bottom: 10px;
    text-align: left;
}

.dcl-modal__footer--embroidery {
    clear: both;
}

.dcl-hover-button__icon--embroidery {
    float: left;
}
