.dcl-upload-list {
    column-count: 2;
    column-gap: $upload-list-gap;
}

.dcl-upload-list__item {
    display: inline-block;
    margin: 0 0 10px;
    width: 100%;
    cursor: -webkit-grab;
    cursor: grab;

    &:hover .dcl-thumb__actions {
        opacity: 1;
    }

    img {
        width: 100%;
    }
}

.dcl-thumb {
    display: flex;
    align-items: center;
    position: relative;
    min-height: $thumb-min-height;
    background: $thumb-bg-color;
    background-image: $thumb-bg-image;
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}

.dcl-thumb__validation {
    display: none;
}

.dcl-thumb__progress,
.dcl-thumb__actions {
    display: flex;
    position: absolute;
    top: 0;
    border: $thumb-overlay-border;
    width: 100%;
    height: 100%;
    background-color: $thumb-overlay-bg-color;
    pointer-events: none;
    transition: opacity 100ms ease-out;
}

.dcl-items {
    .dcl-thumb__progress {
        border: none;
    }

    .dcl-thumb {
        position: absolute;
        background: inherit;
        background-image: inherit;
    }
}

.dcl-thumb__actions {
    flex-wrap: wrap;
    align-items: flex-start;
    opacity: 0;
}

.dcl-thumb__progress {
    flex-direction: column;
    justify-content: center;
}

.dcl-thumb__actions__link {
    display: inline-block;
    transform: scale($thumb-action-link-scale-factor, $thumb-action-link-scale-factor); //Keep icons sharp.
    transform-style: preserve-3d;
    padding: 10px;
    backface-visibility: hidden;
    color: $thumb-action-link-color;
    font-size: $thumb-action-link-font-size-large;
    cursor: pointer;
    pointer-events: auto;
    transition: transform 100ms ease-in;

    &:hover,
    &:visited {
        color: $thumb-action-link-color;
    }

    &:hover {
        transform: scale(1, 1);
    }
}

.dcl-thumb__actions__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.dcl-thumb__actions__link--delete {
    margin-left: auto;
}

.dcl-thumb__info {
    display: none;
}

.dcl-thumb__progress-text {
    margin: $thumb-progress-text-margin;
    color: $thumb-progress-text-color;
    font-size: $thumb-progress-text-font-size;
}

.dragging-repository-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 101;
    border: $thumb-overlay-border;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    pointer-events: auto;
}
