
.dcl-image-crop-area {
    display: inline-block;
    position: relative;
    margin: $base-spacing-unit auto;
    text-align: center;

    .dcl-ui-resizable-handle {
        display: block;
    }

    .dcl-full-crop-image {
        display: none;
        position: relative;
    }

    .dcl-faded-image-canvas {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    .dcl-resize-crop-area {
        position: absolute;
        border: $decoration-border;
        cursor: grab;
    }
};


.dcl-image-crop-description {
    padding: $base-spacing-unit;
    color: $color-gray-darker;
}
