$modal-header-bg-color: $color-white;
$modal-header-padding: $base-spacing-unit;
$modal-title-color: $color-gray-darkest;
$modal-title-font-size: 30px;
$modal-title-font-weight: 100;
$modal-close-hover-color: $color-primary;
$modal-body-padding: double($base-spacing-unit);
$modal-body-bg-color: $color-white;
$modal-footer-padding: $base-spacing-unit;
$modal-footer-bg-color: $color-white;

.dcl-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);

}

.dcl-modal__content {
    position: relative;
    margin: 15% auto;
    border: 1px solid #888888;
    width: 50%;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animatetop 400ms ease-in;
}

.dcl-modal__header {
    padding: $modal-header-padding;
    overflow: hidden;
    background-color: $modal-header-bg-color;

    &::before {
        content: ' ';
        display: table;
    }
}

.dcl-modal__title {
    color: $modal-title-color;
    font-size: $modal-title-font-size;
    font-weight: 100;
}

.dcl-modal__close-button {
    float: right;
    margin-top: -12px;
    line-height: 1;
    color: #aaaaaa;
    font-size: 60px;
    font-weight: 100;

    &:hover, &:focus {
        text-decoration: none;
        color: $modal-close-hover-color;
        cursor: pointer;
    }
}

.dcl-modal-button-group {
    text-align: right;
}

.dcl-modal__body {
    padding: $modal-body-padding;
    background-color: $modal-body-bg-color;
    text-align: center;
}

.dcl-modal__footer {
    padding: $modal-footer-padding;
    background-color: $modal-footer-bg-color;
}
