.dcl-ui-resizable-handle {
    display: none;
    position: absolute;
    z-index: map-get($canvas-zindex-stack, handles);
    border: $handle-border;
    border-radius: 50%;
    width: $handle-size;
    height: $handle-size;
    background-color: $handle-bg-color;
    box-shadow: $handle-shadow;
    font-size: 0;
    transition: transform 100ms ease-in;
    background-clip: padding-box;

    &:hover {
        transform: scale(1.1);
        background-color: $rotatable-handle-hover-bg-color;
        color: $rotatable-handle-hover-color;
    }
}

.dcl-ui-resizable-n {
    top: $handle-offset;
    left: 50%;
    margin-left: $handle-offset;
    cursor: n-resize;
}

.dcl-ui-resizable-s {
    bottom: $handle-offset;
    left: 50%;
    margin-left: $handle-offset;
    cursor: s-resize;
}

.dcl-ui-resizable-e {
    top: 50%;
    right: $handle-offset;
    margin-top: $handle-offset;
    cursor: e-resize;
}

.dcl-ui-resizable-w {
    top: 50%;
    left: $handle-offset;
    margin-top: $handle-offset;
    cursor: w-resize;
}

.dcl-ui-resizable-se {
    right: $handle-offset;
    bottom: $handle-offset;
    cursor: se-resize;
}

.dcl-ui-resizable-sw {
    bottom: $handle-offset;
    left: $handle-offset;
    cursor: sw-resize;
}

.dcl-ui-resizable-nw {
    top: $handle-offset;
    left: $handle-offset;
    cursor: nw-resize;
}

.dcl-ui-resizable-ne {
    top: $handle-offset;
    right: $handle-offset;
    cursor: ne-resize;
}
