.add-shapes__icons-wrapper {
    display: flex;
    justify-content: space-between;
}

.dcl-add-shapes__icon {
    width: $shapes-icons-dimensions;
    height: $shapes-icons-dimensions;
    fill: $shapes-icons-fill;
    cursor: pointer;
    transition: stroke, fill 0.3s;
    stroke-width: $shapes-icons-stroke-width;
    stroke: $shapes-icons-stroke-color;

    &:hover {
        fill: $shapes-icons-fill-hover;
        stroke: $shapes-icons-stroke-color-hover;
    }
}
