.content-panel__tabs {
    position: relative;
    background-color: $content-panel-tabs-bg-color;
}

.tab-item__link__icon {
    display: block;
    margin: 0 auto 5px;
    width: $tab-item-icon-dimension;
    height: $tab-item-icon-dimension;

    path,
    circle,
    rect,
    polygon {
        transition: all 300ms;
    }

    // Tab icons

    &--images {
        margin-bottom: 0;
        &__path-1 {
            fill: $font-color-default;
        }
    }

    &--shapes {
        &__path-1,
        &__path-2,
        &__path-3 {
            fill: $color-white;
            stroke: $font-color-default;
            stroke-width: 1;
        }
    }

    &--text {
        &__path-1 {
            fill: transparent;
            stroke: $font-color-default;
        }
    }
}

.tab-item__link {
    display: block;
    position: relative;
    margin-bottom: $content-panel-tabs-margin-bottom;
    height: $content-panel-tabs-height;
    text-align: center;
    text-decoration: none;
    color: $font-color-default;
    font: $content-panel-tabs-font;
    transition: all 500ms;

    &.is-active,
    &:hover {
        text-decoration: none;
        color: $color-primary;

        //Tab icons on hover

        .tab-item__link__icon {

            &--images {
                &__path-1 {
                    fill: $color-primary;
                }
            }

            &--shapes {
                &__path-1,
                &__path-2,
                &__path-3 {
                    fill: $color-primary;
                    stroke: $color-primary;
                }
            }

            &--text {
                &__path-1 {
                    fill: $color-primary;
                    stroke: $color-primary;
                }
            }
        }
    }
}

.content-panel__images,
.content-panel__shapes,
.content-panel__text {
    display: none;
    overflow: hidden;

    &.is-active {
        display: flex;
        flex-direction: column;
    }
}



.tab-item__indicator {
    position: absolute;
    top: 0;
    right: -3px;
    transform: translateY(0);
    width: $content-panel-tabs-indicator-width;
    height: $content-panel-tabs-height;
    background-color: $color-primary;
    transition: transform 300ms ease-in-out;
}

@for $i from 1 through $content-panel-tabs-max-quantity {
    .tab-item__link.is-active:nth-child(#{$i}) ~ .tab-item__indicator {
        transform: translateY(($content-panel-tabs-height + $content-panel-tabs-margin-bottom) * ($i - 1));
    }
}
