.dcl-edit-text__item {
    display: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0.5;
    margin-top: $edit-text-item-margin;
    width: 100%;
}

.dcl-edit-text__input {
    display: inline-block;
    flex-grow: 1;
    border: none;
    border-bottom: $edit-text-input-border;
    padding: $edit-text-input-padding;
    color: $edit-text-item-input-color;
    font-size: $edit-text-input-font-size;
    transition: all 0.3s;

    &:hover {
        border-bottom-color: $edit-text-input-border-hover;
    }

    &:focus {
        outline: none;
        border-bottom-color: $edit-text-input-border-active;
        background: $edit-text-input-background-active;
    }
}

.dcl-edit-text__input--big {
    min-height: $edit-text-item-min-height;
    resize: none;
}

.dcl-edit-text__item--canvas-enabled {
    opacity: 1;
    input {
        user-select: auto;
    }
}

.dcl-edit-text__item--canvas-visible {
    display: flex;
}

.dcl-edit-text__button-delete {
    margin-left: $edit-text-button-margin;
    border: none;
    background: transparent;
}

.dcl-edit-text__delete-icon {
    width: $edit-text-delete-icon-dimensions;
    height: $edit-text-delete-icon-dimensions;
    fill: $edit-text-delete-icon-color;
}
