.dcl-validation-overlay,
.dcl-validation-overlay__contextual,
.dcl-validation-overlay__general,
.dcl-contextual-validation,
.dcl-contextual-validation__popup,
.dcl-contextual-validation__icon {
    position: absolute;
}

.dcl-validation-overlay {
    top: 0;
    left: 0;
    z-index: 98;
    width: 0;
    height: 0;
}

.dcl-validation-overlay__general {
    display: flex;
    flex-direction: column-reverse;
    height: 0px;
}

.dcl-general-validation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    opacity: $validation-opacity;
    margin: auto;
    margin-bottom: 10px;
    border: $validation-border;
    border-radius: 4px;
    padding: 5px 15px;
    width: $general-validation-width;
    max-width: $general-validation-max-width;
    min-height: 50px;
    background: $validation-default-background;
    box-shadow: $validation-shadow;
}

.dcl-general-validation--error {
    background: $validation-error-background;
    color: $validation-error-text;
    .dcl-icon__use {
        color: $validation-error-icon;
    }
}

.dcl-general-validation--warning {
    background: $validation-warning-background;
    color: $validation-warning-text;
    .dcl-icon__use {
        color: $validation-warning-icon;
    }
}

.dcl-general-validation--information {
    background: $validation-information-background;
    color: $validation-information-text;
    .dcl-icon__use {
        color: $validation-information-icon;
    }
}

.dcl-general-validation__icon {
    display: inline-block;
    position: relative;
    width: $general-validation-icon-width;
    height: $general-validation-icon-width;
    vertical-align: middle;
    .dcl-icon__use {
        fill: $validation-icon-second-color;
    }
}

.dcl-general-validation__message {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.dcl-contextual-validation--error {
    .dcl-contextual-validation__popup {
        background-color: $validation-error-background;
        color: $validation-error-text;
    }
    .dcl-icon__use {
        fill: $validation-error-icon;
    }
}

.dcl-contextual-validation--warning {
    .dcl-contextual-validation__popup {
        background-color: $validation-warning-background;
        color: $validation-warning-text;
    }
    .dcl-icon__use {
        fill: $validation-warning-icon;
    }
}

.dcl-contextual-validation--information {
    .dcl-contextual-validation__popup {
        background-color: $validation-information-background;
        color: $validation-information-text;
    }
    .dcl-icon__use {
        fill: $validation-information-icon;
    }
}

.dcl-contextual-validation__popup {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    opacity: $validation-opacity;
    border: $validation-border;
    border-radius: 4px;
    padding: 10px;
    width: $contextual-validation-width;
    min-height: 45px;
    background: $validation-default-background;
    box-shadow: $validation-shadow;
}

.dcl-contextual-validation:hover {
    .dcl-contextual-validation__popup {
        display: flex;
    }
}

.dcl-contextual-validation__icon {
    top: -8px;
    left: -8px;
    width: $contextual-validation-icon-width;
    height: $contextual-validation-icon-width;
    .dcl-icon__use {
        color: $validation-icon-second-color;
    }
}
