.workarea {
    flex: 1;
    position: relative;
    min-width: 400px;
}

.workarea__action-bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    border-bottom: $workarea-action-bar-border;
    padding: $workarea-action-bar-padding;
    background-color: $workarea-action-bar-bg-color;
    text-align: center;
}

.workarea__canvases {
    position: relative;
    padding-top: 70px;
    overflow: auto;
    background-color: $workarea-canvases-bg-color;
}

.workarea__footer-bar {
    border-top: $workarea-footer-bar-border-top;
    background-color: $workarea-footer-bar-bg-color;
    text-align: $workarea-footer-bar-text-align;
}

.dcl-canvas-history-container,
.dcl-zoom-container,
.dcl-document-rotate-container {
    display: inline-block;
    vertical-align: bottom;
}
