.content-panel {
    border-right: $content-panel-border-right;
    border-left: $content-panel-border-left;
}

.content-panel__content {
    flex-direction: column;
    padding: $content-panel-padding;
    background-color: $content-panel-bg-color;
}

.dcl-icon__addimage {
    stroke: $color-primary;
}

.dcl-button:hover .dcl-icon__addimage {
    stroke: $btn-primary-color;
}
