*,
::after,
::before {
    box-sizing: border-box;
}

.dcl-container {
    width: 100%;
    height: 100%;
}

.dcl-container__editor {
    flex: 1;
    padding: $container-editor-padding;
}

.content-panel__tabs {
    flex: 0 0 $content-panel-tabs-width;
}

.content-panel {
    flex: 0 0 $content-panel-width;
}

.button-bar {
    background-color: $button-bar-bg-color;
}

.upload-button-container,
.add-text-container {
    padding: $button-upload-padding;
}

.pdf-button-container {
    display: inline-flex;
    padding: 10px;
    padding: $button-bar-padding;
}

.scrollbox {
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
}

@media (max-width: 600px) {
    .flexlanes {
        flex-direction: column;
    }

    .content-panel__tabs {
        width: 100%;
    }

    .content-panel {
        width: 100%;
    }
}
