.dcl {
    font-family: $font-family-default;
    font-size: $base-fs;
}

.dcl-h1 {
    margin: $h1-margin;
    color: $font-color-default;
    font-size: 1em;
}

.content-panel__title {
    margin: $content-panel-title-margin;
    color: $color-gray-darkest;
    font: $base-fs $font-family-default;
}
